.container-fluid {
  padding-left: 0;
  padding-right: 0;
}



.navbar-brand{
    font-size: 2rem;
}

/* Title Heading */


/* .top-row{
    margin-bottom: 0%;
} */

.top-left{
    background-color: #ff8000;
    padding-bottom: 12%;
}


@media(min-width:990px){
    .title-image{
        width: 30%;
        margin: 10% 10% 10% 20%;
    }
    .heading{
        font-family: 'Montserrat';
        font-size: 3.5rem;
        font-weight: 900;
        line-height: 1.5;   
        color: white;
        padding-top: 15%;
        padding-left: 5%;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-custom {
    transition-property: padding-bottom, padding-top, background-color;
    transition-duration: 0.5s, 0.5s, 0.5s;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,0));
    z-index: 99;
}

.trnsp{
    transition-property: padding-bottom, padding-top, background-color;
    transition-duration: 0.5s, 0.5s, 0.5s; 
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    background-color: #1e1e1e;
}




.nav-item{
    padding: 0 1rem;
    font-size: 1rem;
}

.nav-link:hover{
    text-emphasis: bold;
    color: #ff9933!important;
}

.heading{
    font-family: 'Montserrat';
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 1.5;   
    color: white;
    padding-top: 15%;
    padding-left: 5%;
}

.top-right{
    background-color: #ff9933;
    padding-bottom: 10rem;
    border-left: solid 0.35rem #a55200;

}

.strt-btn{
    margin-top: 10%;
    margin-left: 10%;
}

.start-collabing{
    color: #ff9933;
    /* padding-right: 1%; */
}

.title-image{
    width: 50%;
    margin: 30% 10% 10% 20%;
}

/* Feature Box */

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    margin-bottom: 1rem;
    color: #ff9933;
}

.icon:hover{
    color: #ff8000;
}

/* Footer */

#footer{
    text-align: center;
    margin: 7%;
}
.foot-ico{
    padding: 0 0.5rem 2rem;
}