.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Title Heading */


.top-row{
    margin-bottom: 300%;
}
.top-left{
    background-color: #ff8000;
}


@media(min-width:990px){
    .title-image{
        width: 30%;
        margin: 10% 10% 10% 20%;
    }
    .heading{
        font-family: 'Montserrat';
        font-size: 3.5rem;
        font-weight: 900;
        line-height: 1.5;   
        color: white;
        padding-top: 15%;
        padding-left: 5%;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,0));
    z-index: 99;
}
.heading{
    font-family: 'Montserrat';
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 1.5;   
    color: white;
    padding-top: 15%;
    padding-left: 5%;
}

.top-right{
    background-color: #ff9933;
    padding-bottom: 10rem;
    border-left: solid 0.35rem #a55200;

}

.title-image{
    width: 50%;
    margin: 30% 10% 10% 20%;
}
